<h2> HALL OF CELEBRITY</h2>

<div class="grid-wrapper">
    
        {{#each star}}

        <div class="celebrities-movies">
            <ul>
                <li>{{this.name}}</li>
               
            </ul>

        </div>
                

        {{/each}}
    
   
</div>

