<h2>NEW CELEBRITY </h2>

<form action="/celebrity/create" method=" POST">

<div>
    <label for="name">Name : </label>
    <input type="text" id="name"  name="name">
</div>

<div>
     <label for="occupation">Ocuupation: </label>
    <input type="text" id="occupation"  name="occupation">
</div>

<div>
     <label for="catchphrase">Catchphrase : </label>
    <input type="text" id="catchphrase"  name="catchphrase">
</div>

<button type="submit">SUBMIT</button> 

</form>